<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Contact</title>
    <style>
           .box{
        width: auto;
        height: auto;
        margin: auto;
        border: rgb(255, 0, 0);
        padding: 10px;
        border: 10px;
        text-align: center;
        background-color:rgb(242, 19, 7);
    }
    </style>
    
</head>
<body>
        <div class="box">Delete Contact
        <form method="post" action="/delete">
        Name : <input type="text" name="name" > <br>
            <button type="submit" >Delete</button>
        </form>
          
    </div>
</body>
</html>