<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contact</title>
    <style>
            .box{
        width: auto;
        height: auto;
        margin: auto;
        border: red;
        border-radius: 10;
        text-align: center;
        background-color:gold;
    }
    </style>
   
</head>
<body>
        <div class="box">Update Contact
        <form method="post" action="/update">
            Search By name <input type="text" name="Search" > <button type="submit">go</button> <br>
            New name <input type="text" name="name" > <br>
            New Phone <input type="number" name="number"> <br>
            New Email <input type="email" name="email"> <br>
            <button type="submit" >Update Contact</button>
        </form>
          
    </div>
</body>
</html>