<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contact</title>
    <style>
            .box{
        width: auto;
        height: auto;
        margin: auto;
        border: red;
        border-radius: 10;
        text-align: center;
        background-color:gold;
    }
    </style>
   
</head>
<body>
        <div class="box">Update Contact
        <form method="post" action="/update">
            Search By name <input type="text" name="Search" value="{{name|e}}" ><button type="submit" name="action" value="search">go</button> <br>
            Name <input type="text" name="name" value="{{name|e}}" > <br>
            Phone <input type="text" name="phoneNo" value="{{phoneNo|e}}"> <br>
            New Email <input type="text" name="email" value="{{email|e}}"> <br>
            <button type="submit" name="action" value="update" >Update Contact</button>
        </form>
          
    </div>
</body>
</html>