<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Contact</title>
    <style>
           .box{
        width: auto;
        height: auto;
        margin: auto;
        border: rgb(255, 0, 0);
        padding: 10px;
        border: 10px;
        text-align: center;
        background-color:rgb(242, 19, 7);
    }
    </style>
    
</head>
<body>
        <div class="box">Delete Contact
         <form method="post" action="/delete">
            Search By name <input type="text" name="Search" value="{{name|e}}" ><button type="submit" name="action" value="search">go</button> <br>
            Name <input type="text" name="name" value="{{name|e}}" > <br>
            Phone <input type="text" name="phoneNo" value="{{phoneNo|e}}"> <br>
            Email <input type="text" name="email" value="{{email|e}}"> <br>
            <button type="submit" name="action" value="delete" >delete</button>
          
    </div>
</body>
</html>