{% extends "base.html" %}

{% block title %}Dashboard - Contact App{% endblock %}

{% block content %}

    <div class="row mt-5">
        <div class="col-12">
            <div class="card p-4">
                <div class="d-flex flex-wrap justify-content-center gap-3 action-buttons">
                    <a href="/add" class="btn btn-primary">
                        <i class="fas fa-plus me-2"></i>Add New Contact
                    </a>
                    <a href="/update" class="btn btn-outline-primary">
                        <i class="fas fa-edit me-2"></i>Update Contact
                    </a>
                    <a href="/delete" class="btn btn-outline-danger">
                        <i class="fas fa-trash-alt me-2"></i>Delete Contact
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}